{% extends "base.html.twig" %}
{# {% form_theme formView 'bootstrap_4_layout.html.twig' %}
 #}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
	<h1>Nouveau produit</h1>

	{{form_start(formView)}}

	{{form_errors(formView)}}

	<div class="row">
		<div class="col">
			{{form_row(formView.name)}}
			{{form_row(formView.price)}}
			{{form_row(formView.shortDescription)}}
		</div>
		<div class="col">
			{{form_row(formView.mainPicture)}}
			{{form_row(formView.category)}}
			<div class='text-center mt-4'>
				<button type="submit" class="btn btn-outline-success text-uppercase ">
					<i class="fas fa-save"></i>
					Créer le produit
				</button>
			</div>

		</div>
	</div>


	{{form_end (formView)}}

{% endblock %}

{# {% block form_row %}
	<div class="form_group">
		{{form_label(form)}}
		{{form_widget(form,{'attr': {'class': 'form-control'}})}}
		{{form_help(form)}}
		{{form_errors(form)}}
	</div>
{% endblock %} #}
