{% extends "base.html.twig" %}

{% block title %}
	Mes Commandes
{% endblock %}

{% block body %}
	<h1>Mes Commandes</h1>

	<table class="table">

		<thead>
			<tr>
				<th>Numéro de commande</th>
				<th>Nom</th>
				<th>Adresse</th>
				<th>Date de commande</th>
				<th>Produits</th>
				<th>Total</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for p in purchases %}
				<tr>
					<td>{{p.id}}</td>
					<td>{{p.fullName}}</td>
					<td>{{p.address}}<br>{{p.postalCode}},
						{{p.city}}</td>
					<td>{{p.purchasedAt | date('d/m/Y H:i')}}</td>
					<td>
						<ul>
							{% for item in p.purchaseItems %}
								<li>{{item.quantity}}x
									{{item.productName}}
									({{item.total / 100}}€)</li>
							{% endfor %}
						</ul>
					</td>
					<td>{{p.total / 100}}€</td>
					<td>
						<a href="{{path("purchases_details", {'id':p.id})}}" class="btn btn-primary btn-lg">
							<i class="fa fa-plus"></i>
							Voir cmde</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>

	</table>
{% endblock %}
